
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
NEO4J_URI=bolt://localhost:7687

# This is standard running mongodb locally
NEO4J_URI_LOCAL=bolt://localhost:7687

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjhflak

# Application Port - express server listens on this port (default 3000).
PORT=3000
